.marketing .col-lg-4 {
   margin-bottom: 1.5rem;
   text-align: center;
}

.row {
   margin-bottom: 1.5rem;
}

.featurette-divider {
   margin: 5rem 0;
}

.grid {
   enable-grid-classes: false;
   enable-cssgrid: true;
}

.dailyPlan .col-4 {
   margin: 5rem 0;
}